/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
   
  /* X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
   
  /* XX-Large devices (large desktops, 1400px and up) */
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }
   
  /* Medium devices (tablets, less than 992px) */
  @media (max-width: 991.98px) {
    html {
      font-size: 14px;
    }
    .container {
      max-width: 720px;
    }
  }
  
  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) {
    html {
      font-size: 12px;
    }
  }
   
  /* X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) {
  }
   